.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
  background: #F8F3EF;
  text-align: center;
}

/* Flip Card */
.flip-card {
  width: 420px;
  height: 520px;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card.flipped .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  background: white;
  padding: 35px;
  border-radius: 18px;
  box-shadow: 0 15px 40px rgba(0,0,0,0.05);
  backface-visibility: hidden;

   display: flex;             
  flex-direction: column;
  justify-content: center; 
  gap: 50px;
}

.flip-card-inner {
  min-height: 420px;   
}

.flip-card-back {
  transform: rotateY(180deg);
}

/* Headings */
h2 {
  margin-bottom: 20px;
  font-family: 'Playfair Display', serif;
}

/* Role Toggle */
.role-toggle {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.role-toggle button {
  flex: 1;
  padding: 8px;
  border-radius: 20px;
  border: 1px solid #ddd;
  background: white;
  cursor: pointer;
}

.role-toggle button.active {
  background: #C65D3B;
  color: white;
  border: none;
}

/* Inputs */
form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

form input {
  padding: 12px;
  border-radius: 25px;
  border: 1px solid #ddd;
}

form button {
  padding: 12px;
  border-radius: 25px;
  border: none;
  background: #C65D3B;
  color: white;
  cursor: pointer;
  transition: 0.3s ease;
}

form button:hover {
  background: #a94a2f;
}

/* Switch text */
.switch-text {
  text-align: center;
  color: #C65D3B;
  cursor: pointer;
  font-weight: 500;
}

.switch-text:hover {
  text-decoration: underline;
}